// Fuentes
$fuente_1: 'Krub', serif;
$fuente_2: 'Helvetica Neue', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$azul: #1D2343;
$celeste: #117BB1;
$celeste-claro: #9ECAE0;
$amarillo: #FDC733;
$naranja-oscuro: #E34A2B;
$verde:#419835;
$naranja: #F4961C;
$morado: #91368B;

$blanco: #FFFFFF;
$gris-claro: #E1E1E1;
$gris: #6b7280;
$grisOscuro: #4B5563;
$negro: #000;

$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);

$separacion: 5rem;